/***********************global*************************/
html{
    scroll-behavior: smooth;  
}
body{
    margin: 0;
}
/***********************NavBar************************/
header{
    position: fixed;
    background-color: #F2F3F4;
    display:flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1100;
}
.menu, .logos, .botones{
    flex-grow: 1;
}
.menu ul{
    flex-grow: 1;
    padding: 0;
    margin: 0;    
    display: flex;
    list-style: none;
}
.menu ul li {
    flex-grow: 1;
    display: flex;
}
.menu ul li a {
    padding: 0;
    flex-grow: 1;
    font-family: Arial;
    font-size: 1.2rem;
    color: #ABB2B9;
    transition: color 0.7s ease;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}
.menu ul li a:hover{
    color: black;
}
.botones{
    display: flex;
    justify-content: center;
}
.botton{
    text-align: center;
    display: flex;
    align-items: center;
}
.botton button{
    border-radius: 2rem;
    background-color: #F5B041;
    font-family: Arial;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 2.5rem;
    transition: background-color 0.6s ease;
    color: #F2F3F4;
    cursor: pointer;
}
.botton button:hover{
    background-color:#8a9095;
}
.logos{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    border: solid;
}
.logo p{
    margin-inline: 1rem;
}
.logo svg{
    width: 2rem;
}

/*********************NavBar end**********************/
.page{
    height: 100vh;
}
/*
.main_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.texto{
    display: flex;
    flex-direction: column;
}
.texto .descripcion{
    font-family: system-ui;
    font-size: 100%;
    color: #8a9095;
}
.texto .title{
    font-family: arial;
    font-size: 100%;
    color: #374048;
}
/**********************Slider**********************/
.slider{
    display: flex;
    flex-direction: column;
}

.images{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.images img {
    display: none;
}
.images img:nth-child(1){

}
.images img:target{
    animation-name: fade;
    animation-duration: 1.5s;
    display: block;
    width: 100%;
    width: 1663px;
    height: 935px;
}
.guia{
    flex-grow: 1;
}
.guia ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.guia ul li{
    display: flex;
    margin: 0rem 1rem;
}
.guia ul li a{
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50rem;
    transition: background-color 0.6s ease;
}
.guia ul li a:hover{
    background-color: #ABB2B9;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 
/********************Slider end********************/ 

/**********************Images**********************/
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.img img{
    width: 100%;
}
/********************Images end********************/

/*******************Description********************/
.description{
    width: 30%;
    display: flex;
}
.description svg{
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}
/*****************Description end******************/

/*********************global end***********************/

/**********************Home*************************/
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto_home{
    margin-top: 4rem;
    width: 40rem;
    text-align: center;
}
#texto_home h1{
    font-size: 300%;
    margin:0.5rem;
}
#texto_home p{
    font-size: 150%;
}
#slider_home{
    width: 100%;
    height: 68%;
}
/**********************Product**************************/
#product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto_product{
    margin-top: 4rem;
    text-align: center;
    width: 40rem;
}
#texto_product h1{
    font-size: 250%;
    margin: 0;
}
#texto_product p{
    font-size: 150%;
}
#img_product{
    width: 60vh;
    height: 60vh;
}
#interactive_product{
    position: relative;
}
.element {
    position: absolute;
}
.texto_element{
    display: none;
}
.element button{
    border: none;
    background-color: #0084ff;
    border-radius: 50rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color:#F2F3F4;
    font-size: 110%;
    transition: color 1s ease;
}
#a{
    top: 9rem;
    left: 10rem;
}
#b{
    top: 22rem;
    left: 9rem; 
}
#c{
    top: 4rem;
    left: 20rem;
}
#d{
    top: 18rem;
    left: 22rem;
}
.element button:focus + .texto_element {
    padding-inline: 1rem;
    border-radius: 10rem;
    display: block;
    color: #F2F3F4;
    background-color: darkorange;
    animation-name: fade;
    animation-duration: 0.5s;
    /*border-radius: 5rem;*/
}
.element button:hover{
    color:#374048
}
/********************Product scroll***********************/
#how_it_works{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#main_text{
    width: 50rem;
}
#main_text p{
    font-size: 150%;
}
#main_text h1{
    font-size: 250%;
}
#info{
    display: flex;
    flex-wrap: wrap;
}
.info_element{
    margin-top: 20%;
    width: 33,33333333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_element img{
    width: 7rem;
}
.info_element .texto{
    width: 20rem;
}
/*********************Features************************/
#features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text_features{
    margin-top: 4rem;
    width: 50rem;
    text-align: center;
}
#text_features p{
    font-size: 150%;
}
#text_features h1{
    font-size: 250%;
}
/*arreglalo*/
#features_description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50rem;
}
#features_description .texto h1{
    font-size: 150%;
}
/**********************features_scroll************************/
#features_scroll{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#features_description_scroll_left, #features_description_scroll_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#features_description_scroll_left h1, #features_description_scroll_right h1{
    font-size: 150%;
}
#features_description_scroll_left .description, #features_description_scroll_right .description{
    width: 20rem;
    padding-inline: 2rem;
}
/***********************features_scroll_scroll**********************/
#features_scroll_scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#features_scroll_scroll .texto{
    width: 45rem;
}
#features_scroll_scroll .texto h1{
    font-size: 250%;
}
#features_scroll_scroll .texto p{
    font-size: 150%;
}
#products{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#products img{
    height: 30rem;
    object-fit: cover;
}
.name_price h2{
    color: #0084ff;
    font-family: arial;
    font-size: 1.3rem;
}
.name_price p{
    font-family: arial;
    color: #b4bcc3;;
}
.name_price h3{
    color: #F5B041;
    font-family: Arial, Helvetica, sans-serif;
}
.name_price button{
    border-radius: 50rem;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #F2F3F4;
    color:#ABB2B9;
    transition: background-color 1s ease;
    cursor: pointer;
}
.name_price button:hover{
    padding-inline: 1rem;
    color: #F2F3F4;
    background-color: #8a9095;
}
/****************features_scroll_scroll_scroll*******************/
#features_scroll_scroll_scroll{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#features_scroll_scroll_scroll .texto{
    width: 35rem;
}
#features_scroll_scroll_scroll .texto h1{
    margin: 0;
    text-align: justify;
    font-size: 250%;
}
#features_scroll_scroll_scroll .texto p{
    text-align: justify;
    font-size: 150%;
}
#list_avantages ul{
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    text-align: justify;
    color: #696f74;
    font-family: Arial, Helvetica, sans-serif;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#features_scroll_scroll_scroll img{
    height: 35rem;
}
/*#list_avantages ul li::before{
    content:"";
}*/
/**********************features_scroll_scroll_scroll_scroll********************/
#features_scroll_scroll_scroll_scroll{
    display: flex;
    flex-wrap: wrap;
}
#features_scroll_scroll_scroll_scroll div{
    width: 50%;
}
#features_scroll_scroll_scroll_scroll .texto{
    display: flex;
    align-items: center;
}
#features_scroll_scroll_scroll_scroll h1{
    font-size: 2rem;
}
#features_scroll_scroll_scroll_scroll .descripcion{
    width: 30rem;
    font-size: 1.2rem;
}
/*********************reviews**************************/
#reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#reviews_text{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 40rem;
}
#reviews_text h1{
    font-size: 2.5rem;
}
#reviews_text p{
    font-size: 1.5rem;
    margin: 0;
}
#extend_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
}
#extend_text p{
    font-size: 1.2rem;
}
#extend_text {
    width: 70rem;
    margin-bottom: 10rem;
}
#marcas{
    font-family: Arial, Helvetica, sans-serif;
    color: #374048;
}
#marcas_name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#marcas_name .img{
    flex-grow: 1;
}

